body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    height: 100vh;
}

header {
    grid-area: "header";
}

main {
    grid-area: "main";
    max-width: 1024px;
}


footer {
    grid-area: "footer";
}

nav  {
    ul {
        display: flex;
        flex-flow: row;
        gap: 1px;
    }
}